:root {
    --color-primary-1: hsl(35, 77%, 62%);
    --color-primary-2: hsl(5, 85%, 63%);

    --color-neutral-1: hsl(36, 100%, 99%);
    --color-neutral-2: hsl(233, 8%, 79%);
    --color-neutral-3: hsl(236, 13%, 42%);
    --color-neutral-4: hsl(240, 100%, 5%);

    ---font-weight-1: 400;
    ---font-weight-2: 700;
    ---font-weight-3: 800;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,p,h1,h2,li {
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
}
main {
    display: grid;
    padding-top: 4%;
    margin: 0% 12%;
}
nav {
    display: inline-flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.nav-links {
    display: inline-flex;
    align-items: center;
    justify-content: end;
    list-style: none;
}
.nav-links a {
    color: var(--color-neutral-3);
}
.nav-links a:hover {
    color: var(--color-primary-2);
}
.nav-links li {
    margin-left: 2rem;
}
.hamburger-btn {
    display: none;
}
.hamburger-btn-x {
    display: none;
}
/*============= LANDING PAGE========== */
section {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        " a a b"
        " c c b";
}
.main-img {
    grid-area: a;
    width: 100%;
    height: auto;
}
.mobile-img {
    display: none;
}
/*============= NEW ARTICLE========== */
.new-article {
    display: grid;
    justify-content: center;
    width: 380px;
    padding: 1rem 1.5rem;
    grid-area: b;
    background-color: var(--color-neutral-4);
}
.article-1 {
    border-bottom: 1px solid var(--color-neutral-1);
    align-self: end;
}
.article-2 {
    border-bottom: 1px solid var(--color-neutral-1);
    align-self: end;
}
.article-3 {
    align-self: end;
}
.new-article p {
    font-size: 1rem;
    padding-bottom: 2.5rem;
}
.new-article h1 {
    align-self: end;
    font-size: 3rem;
    font-weight: var(---font-weight-3);
    color: var(--color-primary-1);
}
.new-article h2 {
    padding-bottom: 0.5rem;
}
.new-article h2,p {
    color: var(--color-neutral-1);
}
.new-article h2:hover {
    color: var(--color-primary-1);
}

/*============= HEADING ========== */
.heading {
    color: var(--color-neutral-4);
    
    font-size: 3.5rem;
    font-weight: var(---font-weight-3);
}
.call-out {
    display: grid;
    justify-content: space-between;
}
.call-out p {
    font-size: 1rem;
    color: var(--color-neutral-3);
}
.read-more-btn {
    background-color: var(--color-primary-2);
    color: var(--color-neutral-1);
    height: 3rem;
    width: 10rem;
    border: none;

    font-size: 1rem;
    font-weight: var(---font-weight-2);
    letter-spacing: 2px;
    align-self: flex-end;
}

/*============= TOP ARTICLE========== */
.top-article {
    display: grid;
    grid-template-columns: minmax(auto, auto) 220px;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}
.top-article > div{
    display: grid;
    align-items: start;
    height: 100%;
}
.top-article img {
    height: 150px;
    width: auto;
}
.top-article h1{
    font-size: 2rem;
    color: var(--color-neutral-2);
}
.top-article h2 {
    align-self: center;
    font-size: 1.2rem;
}
.top-article h2:hover {
    color: var(--color-primary-2);
}
figcaption {
    align-self: end;
    font-family: 'Inter', sans-serif;
    width: fit-content;
}
/*============= FOOTER ========== */
.attribution {
    margin-top: 10vh;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* MEDIA QUERIES */
@media (max-width: 375px) {
    main {
        padding-top: 6%;
        margin: 0% 5%;
    }
    .nav-links {
        display: none;
    }
    .nav-links-active {
        z-index: 200;
        display: grid;
        position: absolute;
        width: 70%;
        height: 100vh;
        top: 0;
        right: 0;
    
        background-color: var(--color-neutral-1);
    
        justify-content: start;
        padding: 40% 0% 70% 0%;
    }
        .nav-links-active a {
        font-size: 1.2rem;
        color: var(--color-neutral-4);
    }
    .hamburger-btn {
        display: block ;
    }
    .hamburger-btn-x {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1.5rem 1.5rem;
    }
    .main-img {
        display: none;
    }
    .mobile-img {
        display: grid;
        height: 295px;
        width: auto;
    }
    section {
        display: grid;
        gap: 2rem;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "a"
            "c"
            "c"
            "b";
    }
    .read-more-btn {
        margin-top: 1.5rem;
    }
    .new-article {
        width: 340px;
    }
    .new-article h2 {
        padding-top: 1.5rem;
        padding-bottom: 0rem;
    }
    .new-article p {
        padding-bottom: 1.5rem;
    }
    .top-article {
        display: grid;
        grid-template-columns: minmax(auto, auto) 205px;
        justify-content: start;
        align-items: start;
        gap: 1rem;
    }
}

