:root {
    --color-primary-1: hsl(35, 77%, 62%);
    --color-primary-2: hsl(5, 85%, 63%);

    --color-neutral-1: hsl(36, 100%, 99%);
    --color-neutral-2: hsl(233, 8%, 79%);
    --color-neutral-3: hsl(236, 13%, 42%);
    --color-neutral-4: hsl(240, 100%, 5%);

    ---font-weight-1: 400;
    ---font-weight-2: 700;
    ---font-weight-3: 800;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,p,h1,h2,li {
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
}
main {
    display: grid;
    margin: 4% 8%;
}
nav {
    display: inline-flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.nav-links {
    display: inline-flex;
    align-items: center;
    justify-content: end;
    list-style: none;
}
.nav-links li {
    margin: 0rem 1rem;
}
/* landing page*/
section {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        " a a b"
        " c c b";
}
.hero-img {
    grid-area: a;
    width: 100%;
    height: auto;
}
.new-article {
    display: grid;
    justify-content: center;
    align-items: end;
    width: 360px;
    padding: 2.5rem 1.5rem;
    grid-area: b;
    background-color: var(--color-neutral-4);
}
.article-1 {
    border-bottom: 1px solid var(--color-neutral-1);
}
.article-2 {
    border-bottom: 1px solid var(--color-neutral-1);
}
.new-article p {
    padding-bottom: 2rem;
}
.new-article h1 {
    font-size: 3rem;
    font-weight: var(---font-weight-3);
    color: var(--color-primary-1);
    margin-bottom: 1rem;
}
.new-article h2,p {
    color: var(--color-neutral-1);
}
.new-article h2 {
    font-size: 1.5rem;
    padding-top: 2rem;
    margin-bottom: 0.5rem;
}
.new-article h2:hover {
    color: var(--color-primary-1);
}
.heading {
    color: var(--color-neutral-4);
    
    font-size: 3.5rem;
    font-weight: var(---font-weight-3);
}
.call-out {
    display: grid;
    justify-content: space-between;
}
.call-out p {
    font-size: 1rem;
    color: var(--color-neutral-3);
}
.read-more-btn {
    background-color: var(--color-primary-2);
    color: var(--color-neutral-1);
    height: 3rem;
    width: 10rem;
    border: none;

    font-size: 1rem;
    font-weight: var(---font-weight-2);
    letter-spacing: 2px;
    align-self: flex-end;
}
.top-article {
    display: grid;
    grid-template-columns: minmax(auto, auto) 220px;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}
.top-article img {
    height: 150px;
    width: auto;
}
figcaption {
    font-family: 'Inter', sans-serif;
    width: fit-content;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
